{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "jsdoc"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jsdoc/recommended"
    ],
    "rules": {
        "jsdoc/require-jsdoc": [
            "error",
            {
                "require": {
                    // "ArrowFunctionExpression": true,
                    // "ClassDeclaration": true,
                    // "ClassExpression": true,
                    "FunctionDeclaration": false,
                    // "FunctionExpression": true,
                    // "MethodDefinition": true
                }
            }
        ],
        "jsdoc/require-throws": "error",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "no-constant-condition": "off",
        "@typescript-eslint/no-empty-interface": "off"
    }
}
